/*Bootstrap-angular fix*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*Bootstrap breakpoints*/

@media(max-width:767px){

  .jumbotron {
  margin-top: 10px;
  }
    
  .adlib{
  height:40px;
  width: 40%;
  border-bottom: 1px solid #ffffff;
  }

  .adlibloc{
  width: 30%;
  height:40px;
  border-bottom: 1px solid #ffffff;
  }


}

@media(min-width:768px){

  .jumbotron {
    margin-top: 30px;
  }

  .adlib{
  height:70px;
  width: 60%;
  border-bottom: 3px solid #ffffff;
  }

  .adlibloc{
  width: 40%;
  height:70px;
  border-bottom: 3px solid #ffffff;
  }

}
@media(min-width:992px){


  .adlib{
  height:70px;
  width: 43%;
  border-bottom: 3px solid #ffffff;
  }

  .adlibloc{
  width: 30%;
  height:70px;
  border-bottom: 3px solid #ffffff;
  }



}


@media(min-width:1200px){

  .container {
    max-width: 970px;
  }

}

body{
  background-color: #3e4049;
  padding-top: 70px;
}

.custom-brand{
  font-family: 'Fredoka One', cursive !important;
  font-size: 28px;
}

.navbar-scrape{
  background-color: #303239;
  border: 0px !important;
}

.navbar-scrape a:hover{
  color: #666 !important;
}

.navbar-scrape .navbar-nav>.open>a{
  background-color:#a5a7ac !important;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cf4858;
    color: #ffffff;
  }

.pull-details{
	margin-top: 40px;
	text-align: center;
  font-size: 16px !important;
  text-shadow: 1px 1px 1px #ce6774
}

.adlib{
	background: none !important;
	outline: none !important;
	border-left:0;
	border-right:0;
	border-top:0;
	padding:0px !important;
}

.adlibloc{
  text-align: center;
  background: none !important;
  outline: none !important;
  border-left:0;
  border-right:0;
  border-top:0;
  padding:0px !important;
  }

.just-added{
  color:#E9573f;
}

#city_skyline{
  width: 100%;
  background: url("../img/city.png") no-repeat;
  background-size: 970px 467px;
}

.table-custom{
  color: #999999 !important;
}

.table-custom a{
  color: #ffffff !important;
}

.table-custom td{
  border-color:#303236 !important;
}

.table-custom>tbody>tr:nth-child(odd){
  background-color: #303239;
}
