.idea/.name
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/scrapesite.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/ui_bootstrap_tpls_0_12_0_min_js.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/codeStyleSettings.xml
.DS_Store
extras/node/node_modules