<html ng-app="Scrape">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
<script src="js/app.js"></script>

</head>

<body ng-controller="ScrapeCtrl">
Last Run: <b>{{updated.lastRun}}</b><br>
Total Sites: <b>{{updated.sites}}</b><br>
Total Listings: <b>{{updated.listings}}</b><br>

<div ng-repeat="(key, data) in data">
<h3>{{key}}</h3>
<li ng-repeat="entry in data">
<a href="{{entry.url}}" target="_blank">{{entry.name}}</a> <br> {{entry.location}} <br> {{entry.role}}
</li>
</div>


</body>
</html>