<html ng-app="Scrape">
<head>
<title>Jobtill | High-growth Companies</title>
<link rel="shortcut icon" type="image/png" href="img/favicon.ico"/>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
<script src="js/app.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-scrape navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand custom-brand" href="#">Jobtill</a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" ng-controller="UserCtrl">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a ng-click="signupbox=false" ng-show="!authData" href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="true">Sign in <span class="caret"></span></a>
              <a ng-show="authData" href="#" role="button" ng-click="logout();signupmsg=''">Logout</a>
              <ul class="dropdown-menu custom-menu" role="menu" ng-show="!authData" ng-click="$event.stopPropagation();signupmsg=''">
                

                   <!--Start Crap Forms -->
               
                  <div ng-show="signupbox" class="panel-body">
                    <div class="form-group">
                      <input type="text" ng-model="firstName" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                      <input type="text" ng-model="lastName" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                      <input type="email" ng-model="signupMail" class="form-control" id="signupEmail" placeholder="Enter E-mail">
                    </div>
                    <div class="form-group">
                      <input type="password" ng-model="signupPass" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                      <input type="password" ng-model="signupPass2" class="form-control" placeholder="Confirm Password">
                    </div>

                    <button  class="btn-custom btn btn-primary sharp" ng-click="signUp(signupMail,signupPass,firstName,lastName)">Sign up</button>
                    <span ng-bind="signupmsg"></span>                    
                  </div>
               
          
                  <div class="panel-body" ng-show="!signupbox">
                  <span ng-bind="loginmsg" class="signin-val"></span>
                    <div class="form-group">
                      <input type="email" ng-model="loginMail" class="form-control" placeholder="Enter E-mail">
                    </div>
                    <div class="form-group">
                      <input type="password" ng-model="loginPass" class="form-control" placeholder="Enter Password">
                    </div>
                    <button class="btn-custom btn btn-primary sharp" ng-click="logIn(loginMail,loginPass)">Login</button>

                    <a href="#" class="signupLink" ng-click="signupbox=true;signupmsg=''">Click here to sign up</a>
                  </div>
               
                <!--End Crap Forms -->
                </div>

              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- START SCRAPE CONTROL -->
<div class="container" ng-controller="ScrapeCtrl">
  <div class="jumbotron">
    <h1 >I want a job located in <input type="text" class="adlibloc" ng-model="search_loc" /> doing
      <input type="search" autofocus class="adlib" ng-model="search" />.</h1>

    <p class="lead pull-details">Omg, we pulled {{updated.listings}} jobs from {{updated.sites}} companies at {{updated.lastRun | date:"h:mma"}} {{ timeFunction(updated.lastRun) ? timeFunction(updated.lastRun) : updated.lastRun | date:" 'on' M/dd/yy"}} <span ng-if="todaysDate | date: 'MM/dd/yy' == 'new'"></span></p>
  </div>
  <div id="city_skyline" ng-hide="search"></div>
  <div class="row marketing">
    <div class="col-lg-12">
      <table class="table table-striped table-custom" ng-show="search">
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Company</th>
          <th>Added</th>
        </tr>
      </thead>
        <tbody>
          <tr ng-repeat="entry in data | filter:{name: search,location:search_loc }" class="blah">
            <td><a href="{{entry.url}}" target="_blank">{{entry.name}}</a> <span tooltip="Just Added" class="glyphicon glyphicon-exclamation-sign just-added" ng-if="entry.status == 'new'"></span></td>
            <td>{{entry.location}}</td>
            <td>{{entry.site}}</td>
            <td>{{entry.created | date:"MM/dd/yy"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="footer">
  </footer>
</div>
<!-- END SCRAPE CONTROL -->

</body>
</html>