<html ng-app="Scrape">
<head>
    <title>Jobtill | High-growth Opportunities</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="js/angulartics.js"></script>
    <script src="js/angulartics-ga.js"></script>
    <script src="js/ngtimeago.js"></script>
</head>

<body ng-style="bodyStyle" ng-controller="ScrapeCtrl">
<nav class="navbar navbar-default navbar-scrape navbar-fixed-top" ng-controller="UserCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed collapsed-custom" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-log-in custom-glyphie" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand custom-brand" popover-placement="bottom" popover="{{logoPopover}}" href="#">Jobtill</a>
        </div>
      
        <div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav navbar-right">

                <!-- if logged in -->
                <li ng-show="authData" dropdown>
                    <a ng-show="authData" href="#" dropdown-toggle>{{userData.firstName}} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu custom-menu" role="menu">
                        <div class="panel-body">
                            <button style="margin-bottom: 10px" class="btn-custom btn btn-primary sharp" ng-click="logout();">Logout
                            </button>
                        </div>
                    </ul>
                </li>
                <!-- end if logged in -->

                <li class="dropdown" dropdown on-toggle="toggled(open)" is-open="status.isopen">
                    <a ng-click="signupbox=false" ng-show="!authData" href="#" class="dropdown-toggle" dropdown-toggle
                       data-toggle="dropdown">Sign in <span class="caret"></span></a>
                    <ul class="dropdown-menu custom-menu" role="menu" ng-show="!authData"
                        ng-click="$event.stopPropagation();">

                        <!--Start Crap Forms -->

                        <form ng-show="signupbox" name="signupFormCont" class="panel-body">
                            <span ng-bind="signmsg" class="signin-val"></span>

                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="text" ng-model="signupForm.firstName" class="form-control"
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="text" ng-model="signupForm.lastName" class="form-control"
                                       placeholder="Last Name" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="email" ng-model="signupForm.signupMail" class="form-control"
                                       id="signupEmail" placeholder="Enter E-mail" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="password" ng-model="signupForm.signupPass" class="form-control"
                                       placeholder="Enter Password" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="password" ng-model="signupForm.signupPass2" class="form-control"
                                       placeholder="Confirm Password" required>
                            </div>

                            <button class="btn-custom btn btn-primary sharp" type="submit"
                                    ng-disabled="signupFormCont.$invalid" ng-click="signUp(signupForm)"
                                    ng-hide="pendingSignup">Sign up
                            </button>

                        </form>

                        <form class="panel-body" name="loginFormCont" ng-show="!signupbox">
                            <span ng-bind="loginmsg" class="signin-val"></span>

                            <div class="form-group">
                                <input type="email" ng-model="loginForm.loginMail" class="form-control"
                                       placeholder="Enter E-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" ng-model="loginForm.loginPass" class="form-control"
                                       placeholder="Enter Password">
                            </div>
                            <button class="btn-custom btn btn-primary sharp"
                                    ng-click="logIn(loginForm.loginMail,loginForm.loginPass)">Login
                            </button>

                            <a href="#" class="signupLink" ng-hide="pendingSignup" ng-click="signupbox=true; $event.preventDefault();">Click here
                                to sign
                                up</a>
                        </form>

                        <!--End Crap Forms -->
                    </ul>

            </ul>
        </div>
    </div>
    <!--/.nav-collapse -->
</nav>

<!-- START SCRAPE CONTROL -->
<div class="container">
    <div class="jumbotron">
        <h1>I want a job located in <input type="text" class="adlibloc" ng-model="search_loc"/> doing
            <input type="search" autofocus class="adlib" ng-model="search" ng-keyup="checkPut()"/>.</h1>

        <p class="lead pull-details">
            <span ng-show="!updated.lastRun" class="loadytext">Loady</span>
             <span ng-show="updated.lastRun">Omg, we found {{updated.listings}} jobs ({{updated.newjobs}} just posted) from {{updated.sites}} companies {{updated.lastRun|timeago}}</span>   
        </p>
    </div>
    <div id="contact_info">info@jobtill.com</div>
    <div id="city_skyline" ng-hide="search">
        <div id="cloud1"></div>
        <div id="cloud2"></div>
    </div>
    <div class="row marketing">
        <div class="col-lg-12">
            <alert type="warning warning-custom" ng-show="search && !loggedIn"><b ng-hide="hiddenPosts<1">You're missing out on {{hiddenPosts}} recently posted <span ng-bind="(hiddenPosts===1)? 'job' : 'jobs'"></span>!</b> <a href="#" ng-click="openSignup($event)">Click here to sign up and see all results</a> </alert>

            <table class="table table-striped table-custom" ng-show="search">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Company</th>
                    <th>Added</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in data | filter:{name: search,location: search_loc }| jobsFilter:showJobs" class="blah">
                    <td><a ng-href="{{entry.url}}" target="_blank">{{entry.name}}</a> 
                    </td>
                    <td>{{entry.location}}</td>
                    <td>{{entry.site}}</td>
                    <td>{{entry.created | date:"MM/dd/yy"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
    </footer>
</div>
<!-- END SCRAPE CONTROL -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58872463-1', 'auto');
</script>
</body>
</html>