<html ng-app="Scrape">
<head>
    <title ng-if="notification_count" ng-bind-template="({{notification_count}}) Jobtill | Fresh Startup Opportunities"></title>
    <title ng-if="!notification_count">Jobtill | Fresh Startup Opportunities</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <meta name="description" content="Jobtill pulls open positions from the best local startups in nearly real-time to present great opportunities and the best chance of landing a high-growth job, no questions asked.">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainctrl.js"></script>
    <script src="js/userctrl.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="js/modules.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="js/angulartics.js"></script>
</head>

<body ng-controller="ScrapeCtrl">
<div ng-controller="UserCtrl">
<nav class="navbar navbar-default navbar-scrape navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed collapsed-custom" ng-init="navCollapsed = true"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-log-in custom-glyphie" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand custom-brand" ui-sref="/">Jobtill <span>|</span> <small>Fresh Startup Opportunities</small></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse" collapse="navCollapsed" ng-if="!loading">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="howitworks">How It Works</a></li>

                <!-- start job notification -->
                <li ng-if="authData"  dropdown>
                    <a ng-click="soft_clear_notif(notifs_data)" href="#" dropdown-toggle class="notif-btn">
                       <span class="glyphicon glyphicon-bell glyphicon-bell-custom" aria-hidden="true"></span> 
                       <span class="label label-custom" ng-show="notification_count">{{notification_count}}</span>
                    </a>
                    <ul class="dropdown-menu custom-menu-notif" role="menu">
                        <li class="notification_title"> {{notification_count}} new jobs since your last visit!</li>
                        <li ng-model="yak" ng-repeat="note in notifData  | notifications: [n_cleared,n_soft_cleared] | orderBy:note.created ">
                            <a ng-href="#" ng-click="clear_notification(note.jobId);notifSearch(note.name)">{{note.name}}<small>{{note.created |timeago}}</small></a>
                            <span class="glyphicon glyphicon-remove notif-rmv" ng-click="$event.stopPropagation();clear_notification(note.jobId)" aria-hidden="true"></span>
                        </li>
                    </ul>
                </li>
                <!-- end job notification -->


                <!-- if logged in -->
                <li ng-show="authData" dropdown>
                    <a ng-show="authData" href="#" dropdown-toggle><span ng-show="userData.firstName">Hi, {{userData.firstName}} <span
                            class="caret"></span></span></a>
                    <ul class="dropdown-menu custom-menu" role="menu">

                        <li><a ui-sref="settings">Account</a></li>

                        <div class="panel-body">
                            <button style="margin-bottom: 10px" class="btn-custom btn btn-logout sharp" ng-click="logout();">Logout
                            </button>
                        </div>
                    </ul>
                </li>
                <!-- end if logged in -->

                <li class="dropdown" dropdown on-toggle="toggled(open)" is-open="status.isopen">
                    <a ng-click="signupbox=false" ng-show="!authData" href="#" class="dropdown-toggle" dropdown-toggle
                       data-toggle="dropdown">Sign in <span class="caret"></span></a>
                    <ul class="dropdown-menu custom-menu" role="menu" ng-show="!authData"
                        ng-click="$event.stopPropagation();">

                        <!--Start Crap Forms -->

                        <form ng-show="signupbox" name="signupFormCont" class="panel-body">
                            <span ng-bind="signmsg" class="signin-val"></span>

                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="text" ng-model="signupForm.firstName" class="form-control login-form-control"
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="text" ng-model="signupForm.lastName" class="form-control login-form-control"
                                       placeholder="Last Name" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="email" ng-model="signupForm.signupMail" class="form-control login-form-control"
                                       id="signupEmail" placeholder="Enter E-mail" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="password" ng-model="signupForm.signupPass" class="form-control login-form-control"
                                       placeholder="Enter Password" required>
                            </div>
                            <div class="form-group" ng-hide="pendingSignup">
                                <input type="password" ng-model="signupForm.signupPass2" class="form-control login-form-control"
                                       placeholder="Confirm Password" required>
                            </div>

                            <button class="btn-custom btn btn-primary sharp" type="submit"
                                    ng-disabled="signupFormCont.$invalid" ng-click="signUp(signupForm)"
                                    ng-hide="pendingSignup">Sign up
                            </button>

                        </form>

                        <form class="panel-body" name="loginFormCont" ng-show="!signupbox">
                            <span ng-bind="loginmsg" class="signin-val"></span>

                            <div class="form-group">
                                <input type="email" ng-model="loginForm.loginMail" class="form-control login-form-control"
                                       placeholder="Enter E-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" ng-model="loginForm.loginPass" class="form-control login-form-control"
                                       placeholder="Enter Password">
                            </div>
                            <button class="btn-custom btn btn-primary sharp"
                                    ng-click="logIn(loginForm.loginMail,loginForm.loginPass)">Login
                            </button>
                            <p class="signup_or">OR</p>
                            <button class="btn-custom btn btn-primary sharp"
                                    ng-click="logInFB()">Login with Facebook
                            </button>

                            <a href="#" class="signupLink" ng-hide="pendingSignup" ng-click="signupbox=true; $event.preventDefault();">Click here
                                to sign
                                up</a>
                        </form>

                        <!--End Crap Forms -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/.nav-collapse -->
</nav>
</div>
<!-- START SCRAPE CONTROL -->
<div ng-if="!loading" ui-view></div>
<!-- END SCRAPE CONTROL -->
<script>
    //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        //(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
    //ga('create', 'UA-58872463-1', 'auto');
</script>
<div id="jobtill-loading" ng-if="loading"></div>
</body>
</html>