/*Bootstrap-angular fix*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*Bootstrap breakpoints*/

@media(max-width:767px){

  .jumbotron {
  margin-top: 10px;
  }
    
  .adlib{
  height:40px;
  width: 40%;
  border-bottom: 1px solid #ffffff;
  }

  .adlibloc{
  width: 30%;
  height:40px;
  border-bottom: 1px solid #ffffff;
  }

  .custom-brand small, .custom-brand span{
    display: none !important;
  }

}

@media(min-width:768px){

  .jumbotron {
    margin-top: 30px;
  }

  .adlib{
  height:70px;
  width: 60%;
  border-bottom: 3px solid #ffffff;
  }

  .adlibloc{
  width: 40%;
  height:70px;
  border-bottom: 3px solid #ffffff;
  }



}
@media(min-width:992px){


  .adlib{
  height:70px;
  width: 43%;
  border-bottom: 3px solid #ffffff;
  }

  .adlibloc{
  width: 30%;
  height:70px;
  border-bottom: 3px solid #ffffff;
  }



}


@media(min-width:1200px){

  .container {
    max-width: 970px;
  }

}

body{
  background-color: #3e4049;
  padding-top: 70px;
  position:relative;
}

.custom-brand{
  font-family: 'Fredoka One', cursive !important;
  font-size: 28px;
}

.custom-brand small{
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}

.navbar-scrape{
  background-color: #303239;
  border: 0px !important;
}



.navbar-scrape a:hover, .nav>li>a:focus{
  color: #666 !important;
}

.navbar-scrape .navbar-nav>.open>a{
  background-color:#4d505b !important;
  color:#cccccc !important;
}

.custom-glyphie{
  color: #777777;
  font-size: 22px;
}

.collapsed-custom{
  border: none !important;
  padding: 5px 10px
}

.collapsed-custom:focus, .collapsed-custom:hover{
  background: none !important;
}

.custom-menu{
  background-color: #4d505b !important;
  border:0 !important;
  min-width: 240px;
  padding:0px;
}

.btn-custom{
  width: 100% !important;
}

.custom-menu li > a{
  color: #ffffff !important;
  line-height: 50px;
}

.custom-menu li > a:hover{
  background-color: #303239;
  color: #ffffff !important;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #16a79d;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #19a8ac;
}
 
.btn-primary:active, .btn-primary.active {
    background: #149396;
    box-shadow: none;
}

.btn-logout {
    background: #303239;
    color: #ffffff;
    font-weight: normal;
}

.btn-logout:hover, .btn-logout:focus, .btn-logout:active, .btn-logout.active, .open > .dropdown-toggle.btn-logout {
    background: #cf4858;
    color: #ffffff;
}
 
.btn-logout:active, .btn-logout.active {
    background: #cf4858;
    box-shadow: none;
}

.btn.sharp {
  border-radius:0;
}

.login-form-control{
  border-radius: 0 !important;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cf4858;
    color: #ffffff;
    position: relative;
  }


.pull-details{
	margin-top: 40px;
	text-align: center;
  font-size: 16px !important;
  text-shadow: 1px 1px 1px #ce6774;
}

.pull-details a{
  color: #ffffff;
  text-decoration: underline;
}

a.why_locked{
  font-size: 12px;
  position: absolute;
  bottom:10;
  left:0;
  right:0;
  text-align: center;
  color: #ffffff;
}

.jumbotron .popover{
  color: #303239 !important;
}

.text_emphasize{
  background: #ad2d3c;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.loadytext{
  color:#cf4858;
  text-shadow: none;
}

.glyphicon-custom:before{
  color:#cf4858 !important;
  margin-right: 3px;
  font-family: 'Glyphicons Halflings' !important; 
}

.glyphicon-custom{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

}

#contact_info{
  color: #777;
  font-size: 11px;
  margin-top: -25px;
}

.adlib{
	background: none !important;
	outline: none !important;
	border-left:0;
	border-right:0;
	border-top:0;
	padding:0px !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.adlibloc{
  text-align: center;
  background: none !important;
  outline: none !important;
  border-left:0;
  border-right:0;
  border-top:0;
  padding:0px !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  }

.just-added{
  color:#E9573f;
}

#city_skyline{
  width: 100%;
  height: 500px;
  background: url("../img/city.png") no-repeat;
  background-size: 970px 467px;
  position: relative;
}

.table-custom{
  color: #999999 !important;
}

.table-custom a{
  color: #ffffff !important;
}

.table-custom td{
  border-color:#303236 !important;
}

.table-custom>tbody>tr:nth-child(odd){
  background-color: #303239;
}

.countdown{
  text-align: center;
}

a.signupLink{
  color: #eeeeee;
  text-align: center;
  width: 100% !important;
  margin-top: 10px !important;
  display: block;
}

a.signupLink:hover{
  color: #cccccc !important;
}

.signin-val{
  color:#f4ac42;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  line-height: 1em;
}

.panel-body{
  padding-bottom: 0px !important;
}

.warning-custom{
  background-color: #16a79d !important;
  border:1px solid #11877f;
  color: #ffffff !important;
  font-size: 18px;
  text-align: center;
}

.warning-custom a{
  color: #ffffff !important;
  text-decoration: underline;
}

.listen-here{
  color:#fff;
  font-weight: bold;
}

.no-alert-alert{
  color: #16a79d !important;
  margin-bottom: -10px;
  text-align: center;
}

.no-alert-alert a{
  color: #16a79d !important;
  text-decoration: underline;
}

.popover-content{
  text-align: center;
}

#cloud1{
  height: 59px;
  width: 90px;
  background: url("../img/cloud1.png") no-repeat;
  right:230;
  top: 10px;
  position: absolute;
  -moz-animation: 5s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 5s infinite ease-in-out;
    -webkit-transform-origin:top;
}

@-moz-keyframes swing{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, -5px);}
    to {-moz-transform: translate(0, -0px);} 
}
@-webkit-keyframes swing{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, -5px);}
    to {-webkit-transform: translate(0, -0px);}  
}


#cloud2 {
  height: 39px;
  width: 60px;
  background: url("../img/cloud2.png") no-repeat;
  left:170;
  top: 100;
  position: absolute;
  -moz-animation: 7s ease 0s normal none infinite float;
    -moz-transform-origin: center top;
    -webkit-animation:float 7s infinite ease-in-out;
    -webkit-transform-origin:top;
}

@-moz-keyframes float{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 5px);}
    to {-moz-transform: translate(0, -0px);} 
}
@-webkit-keyframes float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 5px);}
    to {-webkit-transform: translate(0, -0px);}  
}

#pageslide-target-account-info{
  padding-top: 20px;
  background:#303239;
  color:#ffffff;
  min-height: 550px !important;
}

#account-info h3{
  color:#777;
  text-align: center;
}

#account-info h3 a{
  float:left;
  cursor: pointer;
  color: #16a79d;
}

#account-info h3 a:hover{
  color: #19a8ac;
}

#account-info p{
  background:#4d505b;
  margin: 0 -20px 5px -20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #303239;
  padding: 3px 20px;
  font-weight: bold;
}

#account-info ul{
  padding:0px;
  list-style: none;
}

#account-info ul li{

}

#account-info ul li:hover{
  cursor: default;
}

#menu-slider-top{
  height: 100%;
  padding-bottom: 300px;
}

#menu-slider-btm{
  margin-top: -320px;
}

#menu-slider-btm form{
  margin-top: 30px;
}

.form-control {
    display: inline !important;
}

.hiw-title{
  font-family: 'Fredoka One', cursive !important; 
  color:#3e4049;
  text-align: center;
}

.hiw-body h4{
  color:#777;
  margin: 0px 0px 5px 0;
}

.hiw-body p{
  margin: 
}

h3.just-posted-title{
  color: #cf4858;
  text-align: center;
  margin: 0 0 10px 0;
}

h3.just-posted-title a{
  color: #cf4858;
  text-decoration: underline; 
}
