<div class="container">
    <p class="no-alert-alert" ng-show="!loggedIn.search_terms && loggedIn.firstName">{{loggedIn.firstName}}, you currently have no job alerts setup!  <a href="#account-info" pageslide ps-side="right" ps-speed="0.5">Click here to setup alerts so you can stay up-to-date on your favorite job openings.</a></p>
    <div class="jumbotron">
        <h1>I want a job located in <input type="text" class="adlibloc" ng-keyup="locWarn()" ng-model="search_loc"/> doing
            <input type="search" autofocus class="adlib" ng-model="search"/>.</h1>

        <p class="lead pull-details">
            <span ng-show="!updated.listings" class="loadytext">Loady</span>
            <span ng-show="updated.listings && !search && loggedIn">Below, we have <span class="text_emphasize">{{filteredNew.length}} job opportunities</span>  in {{search_loc}} that have opened up in the last 2 days!</span>
            <span ng-show="search && loggedIn">Below, we have <span class="text_emphasize">{{filteredAll.length + filteredNew.length}} ({{filteredNew.length}} new) job opportunities</span> that match your search criteria!</span>
            <span ng-show="updated.listings && !loggedIn"><a ng-click="openSignup($event)" href="#">Sign up</a> to see <span class="text_emphasize">{{updated.listings}}</span> jobs, <span class="text_emphasize">{{updated.newjobs}}</span> posted in the last 2 days!</span>
        </p>
        <a href="#" ng-show="filteredNew.length && loggedIn" class="why_locked" popover-placement="bottom" popover="Jobtill locks new positions that have been posted in the last 48 hours. This is intended to give &quot;front-of-the-line&quot; access to those really interested in the role while momentarily blocking it from the sights of those that use the shot-gun approach to sending out their resume."><span ng-show="!search">Why are these locked?</span><span ng-show="search">Why are some results locked?</span></a>
    </div>
    <div id="contact_info"><span ng-class="{'listen-here': loc_warn}">Limited results outside Boston.</span> Let us know what else you would like to see - info@jobtill.com</div>
    <div id="city_skyline" ng-style="skyHeight" ng-hide="search || updated.newjobs && loggedIn">
        <div id="cloud1"></div>
        <div id="cloud2"></div>
    </div>
    <div class="row marketing">
        <div class="col-lg-12">
            <alert type="warning warning-custom" ng-show="search && !loggedIn"><b ng-hide="hiddenPosts<1">You're missing out on {{hiddenPosts}} recently posted <span ng-bind="(hiddenPosts===1)? 'job' : 'jobs'"></span>!</b> <a href="#" ng-click="openSignup($event)">Click here to sign up and see all results</a> </alert>
            <table class="table table-striped table-custom" ng-show="search || updated.newjobs && loggedIn">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>
                        <div ng-hide="search" class="countdown">Time Remaining</div>
                        <div ng-show="search">Added</div>
                    </th>
                </tr>
                </thead>
                <tbody>

                <tr ng-if="loggedIn" ng-repeat="entry in (filteredNew = (data | filter:{status: 'new',location: search_loc, name: search } | unlockedFilter:jobKeys)) | orderBy:'timeleft':true">
                    <td>
                        <a ng-if="!entry.unlocked" popover-trigger="mouseenter" popover-placement="left" popover="Unlock for {{unlockprice = (entry.price===0)?'Free':'$'+ entry.price}}" ng-click="unlockJob(entry.jobId,entry.name,entry.price)" ng-href="#">{{entry.name}}</a>
                        <a ng-if="entry.unlocked" target="_blank" ng-href="{{entry.url}}">{{entry.name}}</a>
                    </td>
                    <td><span ng-hide="entry.unlocked" aria-hidden="true"></span> <span ng-class="{ 'glyphicon glyphicon-lock glyphicon-custom': !entry.unlocked}" ng-bind="!entry.unlocked?'Locked':entry.site"></span></td>
                    <td>{{entry.location}}</td>
                    <td class="countdown" >
                        <timer ng-if="!entry.unlocked" max-time-unit="'hour'" countdown="entry.timeleft" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                        <span ng-if="entry.unlocked">Unlocked!</span>
                    </td>
                </tr>
                <tr ng-if="search" ng-repeat="entry in (filteredAll = (data | filter:{name: search,location: search_loc, status: 'old' } | jobsFilter:showJobs))">
                    <td><a ng-href="{{entry.url}}" target="_blank">{{entry.name}}</a>
                    </td>
                    <td>{{entry.site}}</td>
                    <td>{{entry.location}}</td>
                    <td class="countdown">{{entry.created | date:"MM/dd/yy"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
    </footer>
</div>