<!-- ADD HOW IT WORKS MODAL-->
<script type="text/ng-template" id="HiwModal">
    <div class="modal-header">
        <h3 class="modal-title hiw-title">How It Works</h3>
    </div>
    <div class="modal-body hiw-body">
       <p><h4>Why</h4>Jobtill was created out of an annoyance with traditional job posting websites and the desire to get right to the source of true job opportunities.</p>
       <p><h4>What</h4>Jobtill keeps an eye on high-growth companies (startups) to discover recently posted job openings. These are companies that are in a critical period and have an immediate need for strong talent — aka, a true opportunity. </p>
       <p><h4>How</h4> By keeping eye on the best, fastest growing companies around we are able to track and compile the most desirable new jobs in nearly real-time!</p>
       <p><h4>Why again - Why are new posts locked</h4> Jobtill has essentially real-time access to job postings at extremely desirable companies. We are excited to present our awesome users with this info, but at the same time we aim to mitigate everyone and their mother throwing resumes at these companies. Our goal is, in the same way that we pull quality job postings, to have applicants that truly want that position (quality) sending their resume.</p>

       <p><b>Feel free to contact us at info@jobtill.com with any questions or comments</b></p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">ok, got it</button>
    </div>
</script>
<!-- END ADD HOW IT WORKS MODAL-->
<!-- ADD JOB MODAL-->
<script type="text/ng-template" id="AlertsModal">
    <div class="modal-header">
        <h3 class="modal-title">Add New Job Alert</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="key_terms" class="col-sm-12 control-label">Add key terms for us to alert you about <span>(if multiple, seperate with comma)</span>:</label>
                <textarea class="form-control" id="key_terms" rows="2"  ng-model="jobSearch.term" placeholder="E.g. engineer, product manager, java"></textarea>
            </div>
            <div class="form-group">
                <label for="key_locations" class="col-sm-12 control-label">Add location(s) to be alerted about:</label>
                <input type="text" class="form-control" id="key_locations" ng-model="jobSearch.location" placeholder="Boston">
            </div>
            <div>Alerts will be sent to {{userInfo.email}}</div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(jobSearch)">Save Alert</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- END ADD JOB MODAL-->
